<app-header></app-header>
<div>
  <article>
    <header>
      <h1>I'm learning Angular at DigitalOcean</h1>
    </header>
    <section>
      <p>Here's what I've learned so far:</p>
      <ul>
        <li>
          Angular allows us to create performant web applications using
          TypeScript.
        </li>
        <li>
          I can use the Angular CLI to create/interact with my Angular
          workspace.
        </li>
        <li>
          Making changes will automatically be shown on screen, thanks to the
          local development server!
        </li>
      </ul>
    </section>
  </article>
</div>
<app-footer></app-footer>
